@font-face {
  font-family: "ProximaNova-Black";
  font-display: swap;
  src: url(../fonts/ProximaNova-Black.otf);
}

@font-face {
  font-family: "ProximaNova-Bold";
  font-display: swap;
  src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
  font-family: "ProximaNova-BoldIt";
  font-display: swap;
  src: url(../fonts/ProximaNova-BoldIt.otf);
}

@font-face {
  font-family: "ProximaNova-Light";
  font-display: swap;
  src: url(../fonts/ProximaNova-Light.otf);
}

@font-face {
  font-family: "ProximaNova-LightIt";
  font-display: swap;
  src: url(../fonts/ProximaNova-LightIt.otf);
}

@font-face {
  font-family: "ProximaNova-Reg";
  font-display: swap;
  src: url(../fonts/ProximaNova-Reg.otf);
}

@font-face {
  font-family: "ProximaNova-RegIt";
  font-display: swap;
  src: url(../fonts/ProximaNova-RegIt.otf);
}

@font-face {
  font-family: "ProximaNova-Xbold";
  font-display: swap;
  src: url(../fonts/ProximaNova-Xbold.otf);
}

@font-face {
  font-family: "ProximaNovaCond-Black";
  font-display: swap;
  src: url(../fonts/ProximaNovaCond-Black.otf);
}
